---
import Layout from '@/layouts/Layout.astro';

import Header from '@/components/header.astro';
import About from '@/components/about.astro';
import Experience from '@/components/experience.astro';
import Education from '@/components/education.astro';
import Skills from '@/components/skills.astro';
import Projects from '@/components/projects.astro';
import KeyboardManager from '@/components/keyboardManager.astro'
---

<Layout title="Portafolio Web">
	<main>
		<h1>Hola mundo</h1>
		<Header />
		<About />
		<Experience />
		<Education />
		<Skills />
		<Projects />
	</main>
	
	<KeyboardManager />
</Layout>

<style>
	main {
		padding: 4rem;
		margin: auto;
		width: 100%;
	}
</style>
