---
import Layout from '@/layouts/Layout.astro';

import Header from '@/components/sections/header.astro';
import About from '@/components/sections/about.astro';
import Experience from '@/components/sections/experience.astro';
import Education from '@/components/sections/education.astro';
import Skills from '@/components/sections/skills.astro';
import Projects from '@/components/sections/projects.astro';
import KeyboardManager from '@/components/keyboardManager.astro'

import {basics} from "@cv"
const { name, label } = basics 
---

<Layout title={`Portafolio de ${name}- ${label}`}>
	<main>
		<Header />
		<About />
		<Experience />
		<Education />
		<Skills />
		<Projects />
	</main>
	
	<KeyboardManager />
</Layout>

<style>
	main {
		padding: 4rem;
		margin: auto;
		width: 100%;
	}
</style>
